.videotext {

    margin-top: 5px;
  } 
  
.videoplayer{
    border: black;
    border-width: 1px;  
    border-radius: 5px;
    border-style: solid;

  }

.custom-modal {
    width:80% !important;
  }

.confused{

    background-color: red;
    color: white;
    padding: 5px;
    float: right !important;
}

.btn-send{

  margin: 5px;

}

.btn-cancel{

  margin: 5px;

}

.faqs{
  margin-bottom: 10px;
  margin-left: 10px;
  overflow-y: scroll;
  max-height: 400px;
}

.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 400px;
  width: 5px;
}

.col-lg{

  max-width: 370px;
}